.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.join-button, .submit-button {
  font-weight: bold;
  font-size: x-large;
  background-color: #32de84;
  color: white;
  width: 14rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.joined-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.joined-message {
  font-weight: bold;
  font-size: large;
}

.ongoing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.ongoing-message {
  font-weight: bold;
  font-size: large;
}

.ended {
  font-weight: bold;
  font-size: x-large;
}

.page input {
  all: unset;
  box-sizing: border-box;
  border: 2px #32de84 solid;
  border-radius: 1.2rem;
  padding: 1rem;
  color: black;
  width: 70%;
  text-align: center;
}

.question {
  font-size: large;
  font-weight: normal;
}

.joined-loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}
.joined-loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #32de84;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}
.joined-loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #D3D3D3, -35px 50px 0 #D3D3D3, -70px 95px 0 #D3D3D3;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% { transform: scale(1, 0.7)}
  40% { transform: scale(0.8, 1.2)}
  60% { transform: scale(1, 1)}
  100% { bottom: 140px }
}
@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0,0,0,0),
                0 10px 0 #D3D3D3,
              -35px 50px 0 #D3D3D3,
              -70px 90px 0 #D3D3D3;
  }
  100% {
    box-shadow: 0 10px 0 #D3D3D3,
              -35px 50px 0 #D3D3D3,
              -70px 90px 0 #D3D3D3,
              -70px 90px 0 rgba(0,0,0,0);
  }
}

.deciding-loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} 
.deciding-loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom-color: #32de84;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.ongoing-loader {
  position: relative;
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #32de84;
  box-sizing: border-box;
  animation: drawLine 4s linear infinite;
}
.ongoing-loader:before {
  content: "";
  position: absolute;
  left: calc(100% + 14px);
  bottom: -6px;
  width: 16px;
  height: 100px;
  border-radius: 20px 20px 50px 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#32de84 6px, transparent 0),
    linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, #D3D3D3 51%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, #D3D3D3 51%),
    linear-gradient( to bottom, #D3D3D3 10%, #32de84 10%, #32de84 90%, #D3D3D3 90% );
  background-size: 3px 3px, 8px 8px, 8px 8px, 16px 88px;
  background-position: center bottom, left 88px, right 88px, left top;
  transform: rotate(25deg);
  animation: pencilRot 4s linear infinite;
}

@keyframes drawLine {
  0%, 100% { width: 0px }
  45%, 55% { width: 200px }
}

@keyframes pencilRot {
  0%, 45% {
    bottom: -6px;
    left: calc(100% + 14px);
    transform: rotate(25deg);
  }
  55%,
  100% {
    bottom: -12px;
    left: calc(100% + 16px);
    transform: rotate(220deg);
  }
}
