.sidebar {
  width: 15rem;
  padding: 1rem;
  border-radius: 1.2rem;
  background: white;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sidbar-item-title {
  margin-bottom: 0.3rem;
  font-size: large;
  font-weight: medium;
}

.sidbar-item-title.active {
  color: #32de84; 
  font-weight: 800;
  transition: all 200ms;
}

.sidebar-sub-items {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.sidebar-sub-item {
  font-size: medium;
  font-weight: normal;
}

.sidebar-sub-item.active {
  font-weight: bold;
  transition: all 250ms;
}
